<div class="row">
  <section id="hero">
    <div id="inner">
      <div id="item" style="background:url(../assets/background.JPG); background-repeat:no-repeat; background-position:center 0%; background-size:cover;">
        <div class="row">
          <div class="container">
            <h1 id="dec">Hi<span style="display:flex;" *ngIf="user.length > 0">{{' ' + user[0].name }}</span>,<br>This is <strong style="display:flex;">Muhammad Ibrahim</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div style="height:200px;width:100%;background:rgb(31, 179, 107);"></div>

<div id="resume">
  <div id="navigate">
    <ul>
      <li *ngFor="let item of items; let i = index;" [ngClass]="item.active" (click)="activate(i)">{{item.title}}</li>
    </ul>
  </div>
  <div id="content">
    <div *ngIf="sections.obj" class="row" id="obj">
      <p>- Sharping my knowledge, learning new skills and getting in a good sphere.</p>
      <p>- Collaborating with a successful startup like <span id="ta">tajawal:</span> in building a highly useful product</p>
    </div>

    <div *ngIf="sections.GT" class="row" id="gt">
      <h3>- Backend</h3>
      <li>Built a mobile app API using Laravel at "Clueapps" <span style="font-size:13px; color:#555;">(intern: July-Aug 2016)</span></li>
      
      <h3>- Full Stack</h3>
      <li>Built a full-stack website using Laravel, Bootstrap and jQuery</li>

      <h3>- Frontend</h3>
      <li>Built <a style="color:rgb(31, 179, 107);" routerLink="/playground">this social module</a> using Angular 4</li>
      <li>Built a mobile app using Ionic 3 and Cordova at "Whipix" <span style="font-size:13px; color:#555;">(full-time: Nov 2017 - Mar 2018)</span></li>
      <li>Built many static websites' frontend at "Whipix"</li>
    </div>

    <div *ngIf="sections.JS" class="row" id="js">
        <h3>- Good at <i class="material-icons">&#xE86C;</i></h3>
        <li>JS basic features</li>
        <li>Closures</li>
        <li>Memory management</li>
        <li>MVC</li>

        <h3>- Learning <i class="material-icons">&#xE88C;</i></h3>
        <li>Prototype Chains</li>
        <li>Design patterns</li>

        <h3>- To Learn <i class="material-icons">&#xE86D;</i></h3>
        <li>Node.js (Sails.js)</li>
        <li>React.js and Redux</li>
        <li>Unit and Integration Testing</li>
    </div>

    <div *ngIf="sections.out" class="row" id="out">
      <p>- Love Animals</p>
      <p>- Interested in Philosophy and Intellect</p>
      <p>- Volunteer</p>
      <p>- Minimalist in using things</p>
      <p>- Love People</p>
    </div>
  </div>
</div>

<!-- 
  <div *ngIf="buttons" [@showBut] style="padding:120px 0;">
    <button [ngStyle]="smallButton" (click)="activSec('objective')">My Objective</button>
    <button [ngStyle]="smallButton" (click)="activSec('techie')">Tech</button>
    <button [ngStyle]="smallButton" (click)="activSec('skills')">Relevant Skills</button>
    <button [ngStyle]="smallButton" (click)="activSec('human')">Me Outside Work</button>
  </div>

  
 -->


<footer style="height:200px; background:#333; padding:60px 30px;font-size:13px;">
  <p>email: engineermohamed.ibrahim.mi@gmail.com</p>
  <p>mobile: +20 102 507 5652</p>
  <p>project on&ensp;<a target="_blank" href="https://github.com/muhammad-ibrahim/my-resume"><img src="../assets/github.png" style="width:25px;height:25px;"></a></p>
</footer>